/* about Page */

body{
    background: url(/img/abbg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
/* body section stop */
#ablogo{
    display: inline-block;
    size: 20px 20px;
    border: 2px solid red;
    margin-top: 10px;
}
#homeimg{height: 60px; width: 100px;
}
/*Logo section stop */

/* text section start */
#about{
    color: black;
    text-align: justify;
    max-width: 37%;
}

#nahidimg{
    max-height: 500px;
}
.contactsc{
    color: rgb(9, 247, 9);
    margin-left: 20px;
    text-align: justify;
    font-size: 20px;
}