body{
    background-color: rgb(252, 234, 212);
}
.welcomesection{
    text-align: center;
}
/* logo-section start */
.Hlogo{
    display: inline-block;
    size: 20px 20px;
    margin-top: 8px;
    margin-left: 0px;
}
#homeimg{height: 60px; width: 100px;
}
/* logo section stop */
#schoolb{
    width: 100%;
    height: 720px;
}
/* table section  */
table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 18px;
    text-align: left;
    margin-left: 17%;
}
#cap2{
    font-size: 23px;
}
/* table section stop  */

/* fottar */
#collegelink{
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
    border: 2px solid black;
    background-color: aqua;
    padding: 5px;
}

#AboutN{
    text-decoration: none;
    font-size: 27px;
    border: 2px solid black;
    background-color: rgb(94, 255, 0); 
    float: right;
    margin-bottom: 9px;
    padding: 4px;
}