/* Body section */
body{
background-color: rgb(252, 234, 212);
}

/* Logo section start */
.Hlogo{
    display: inline-block;
    size: 20px 20px;
    margin-top: 8px;
    margin-left: 0px;
}
#homeimg{height: 60px; width: 100px;
}
/* Logo section stop */

/* welcome section start */
.welcomec{
    text-align: center;
    color: rgb(255, 0, 0); 
}
#welcomenote{
    font-size: larger;
    color: rgb(0, 0, 0);
}
/* welcome section stop */

#pragraph1{
max-width: 100%;
text-align: justify;
}

#About{
    display: inline-block;
    text-decoration: none;
    font-size: 23px;
    
}
