/* Body section */
body{
background-color: rgb(252, 234, 212);
}

/* Logo section start */
.Hlogo{
    display: inline-block;
    size: 20px 20px;
    margin-top: 8px;
    margin-left: 0px;
}
#homeimg{height: 60px; width: 100px;
}
/* Logo section stop */

/* welcome section start */
.welcomec{
    text-align: center;
    color: rgb(255, 0, 0); 
}
#welcomenote{
    font-size: larger;
    color: rgb(57, 108, 250);
}
/* welcome section stop */

#pragraph1{
max-width: 100%;
text-align: justify;
}

/* link section */
#collegeb{
    text-decoration: none;
    margin-left: 15%; 
    font-size: 30px;
    border: 3px solid red;
}
#schoolb{
    text-decoration: none;
    font-size: 30px;
    border: 3px solid red;
    margin-right: 20%;
    margin-left: 20%;
}

#AboutN{
    display: inline-block;
    text-decoration: none;
    font-size: 30px;
     margin-left: 34%;
     border: 3px solid rgb(6, 41, 241);
    color: black;
     background-color: rgb(9, 212, 248);
     padding: 12px;
}
